{:source-paths ["src"]

 :dependencies
 [[dev.weavejester/cljfmt "0.16.4"]
  [rewrite-clj "1.2.50"]]

 :builds
 {:cljfmt
  {:target :node-library
   :output-to "dist/cljfmt.js"
   :exports {:format cljfmt-js.core/format
             :formatWithConfig cljfmt-js.core/format-with-config
             :parseConfig cljfmt-js.core/parse-config}
   :compiler-options {:optimizations :simple}}}}
